**/__pycache__/**
**pyc
**~
*cfg
*log
analysis/crosswalk/.~*
bin
bin/**
dryad2dataverse.egg-info
filediff.py
flake8.txt
gitnotes.md
include
include/**
lib
lib/**
tests/junk*.db
tests/*bak.json
tmp
tmp/**
x.py
minisample.py
man
man/**
daemon*
daemon.cmd.soroban_test.txt
daemon*.cmd.txt
.readthedocs**
docs/.readthe*
scripts/dryadd_testing.py
site/
tests/basic_file_JSON.json
binary_files
binary_files/**
scripts/testpickle
scripts/dryadd_t.py
dist/
dist/**
build/
build/**
bin/
bin/**
